

<h3>予定の編集</h3>

<%= render "shared/error", obj: @task %>

<%= form_with model:@task do |f| %>
   <table>
     <tr>
       <th><%= f.label :title ,"タイトル" %></th>
       <td><%= f.text_field :title %></td>
     </tr>
 
     <tr>
       <th><%= f.label :sarting_date ,"開始日" %></th>
       <td><%= f.text_field :sarting_date %></td>
     </tr>
 
     <tr>
       <th><%= f.label :ending_date ,"終了日" %></th>
       <td><%= f.text_field :ending_date %></td>
     </tr>

      <tr>
       <th><%= f.label :all_day ,"終日" %></th>
       <td><%= f.check_box :all_day %></td>
     </tr>
 
     <tr>
       <th><%= f.label :memo ,"スケジュールメモ" %></th>
       <td><%= f.text_area :memo %></td>
     </tr> 
   </table>
 
 <% if flash[:alert] %>
  <p class="notice"><%= flash[:alert] %></p>
  <% end %>
  
  <div><%= f.submit "編集を完了する"%></div>

  <%#<input type="submit" value="追加" class="btn btn-success"%>

<% end %>

<%= link_to '←キャンセル', tasks_path %>