<div class="container">
  <section>
    <div class="new_form">
      <div class="index_title">
        <h2>新規予定の追加</h2>
      </div>

      <%= render "shared/error", obj: @task %>

      <div class="register_form">
        <%= form_with model:@task do |f| %>
          <div class="form-group">
            <%= f.label :title ,"タイトル", class:"Required" %>
            <%= f.text_field :title, class: "form-control", placeholder: "タイトル", type: "title" %>
          </div>
            <%= f.label :sarting_date ,"開始日", class:"Required"  %>
            <%= f.date_field :sarting_date, class: "form-control", placeholder: "---- / -- / --" %>
          <div class="form-group">
            <%= f.label :ending_date ,"終了日", class:"Required"  %>
            <%= f.date_field :ending_date, class: "form-control", placeholder: "---- / -- / --" %>
          </div>
          <div class="form-group form-check">
            <%#= f.label :all_day ,"終日" %>
            <%= f.check_box :all_day, class: "form-check-label" %> <span> 終日の場合はチェックを入れます</span>
          </div>
          <div class="form-group">
            <%= f.label :memo ,"スケジュールメモ" %>
            <%= f.text_area :memo, class: "form-control", placeholder: "メモを入力", type: "memo" %>
          </div>

          <div class="alert_position">
            <% if flash[:alert] %>
            <div class="alert alert-danger" role="alert">
              <strong><%= flash[:alert] %></strong>
            </div>
            <% end %>
          </div>

          <div class="footer_button">
            <a href="/tasks"><button type="button" class="btn btn-outline-dark">キャンセル</button></a>
            <input type="submit" name="commit" value="登録完了" class="btn btn-info" data-disable-with="登録完了" />
          </div>
        <% end %>
        <%#<%= link_to 'キャンセル', tasks_path %>
      </div>
    </div>
  </section>
</div>