 
 
<%= link_to '←スケジュール一覧へ戻る', tasks_path %>

<h3><%= @task.title %></h3>

 <table>
   <tr>
     <th>開始日</th>
     <td><%= @task.sarting_date.strftime('%Y/%m/%d') %></td>
   </tr>
   <tr>
     <th>終了日</th>
     <td><%= @task.ending_date.strftime('%Y/%m/%d') %></td>
   </tr>

   <tr>
     <th>終日</th>
     <td><%= @task.all_day ? '○' : ''  %></td>
   </tr>
 
   
   <tr>
     <th>スケジュールメモ</th>
     <td><%= @task.memo %></td>
   </tr>
 </table>

 <%= link_to '編集する', [:edit, @task] %>
 
